<table>

<%= form_for [@ticket, Comment.new] do |f| %>
  <tr>
    <td>
      <p>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
      </p>
      <p><%= f.submit %></p>
    </td>
  </tr>
<% end %>
  
</table>
