<div id="content_title">
  <h2>Task lists</h2>
</div>

<% for task in @tasks %>
  <div id="task<%= task.id %>" class="<%= cycle 'odd', 'even' %>">
  <%= render :partial => "task_with_form", :locals => {:task => task} %>
  </div>
<% end %>

<script type="text/javascript">
  document.observe('dom:loaded', function() {
    $$('form').invoke('hide');
  });
</script>
