/* Styles for page layout */

body {
  background-color: #F0EEE1;
}

#header {
  background: #3c8dc5;
  height: 80px;
  min-width: 960px;
  padding: 20px 20px 0px 20px;
  position: relative;
}

#wrap {
  width: 960px;
  margin: 0 auto;
  padding: 40px 0px;
}

#content {
  background: #FFFFFA;
  width: 740px;
  float: left;
  padding: 20px;
  
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

#sidebar {
  width: 160px;
  float: right;
  padding-left: 20px;
}

#content_title {
  border-bottom: 1px dotted #666;
  margin-bottom: 20px;
}

/* Styles for navigation bar */

#nav {
  position: absolute;
  bottom: 0px;
}

#nav ul {
  float: left;
  list-style: none;
  height: 32px;
  width: 100%;
}

#nav li {
  background: #F0EEE1;
  color: #333;
  float: left;
  margin-right: 2px;
  height: 32px;
  font-size: 1.1em;
  line-height: 32px;
}

#nav .active {
  padding: 0 20px;
}

#nav li a {
  background: #357EB0;
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 0 20px;
  outline: none;
}

#nav li a:hover {
  background: #b2d1e5;
  color: #333;
}

/* Styles for basic elements */

h1, h2 {
  padding-bottom: 20px;
}

h2 {
  color: #3c8dc5;
}

h3 {
  padding-bottom: 10px;
}

p {
  padding-bottom: 10px;
}

.light {
  color: #fff;
}

/* Styles for tables */

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  
}

th {
  
}

.show_border, show_border th, .show_border td,
.show_border th+th, .show_border td+td {
  border: 1px solid #ddd;
}

/* Styles for task tables */

.task {
  float: left;
  width: 350px;
  margin: 0 20px 20px 0;
}

.task.odd {
  /* use with cycle() to fix alignment problem */
  clear: left;
}

.task p {
  padding-bottom: 10px;
}

/* Styles for ticket tables */

.ticket th, .ticket td {
  padding: 10px;
}

.ticket th {
  background-color: #F3F0EB;
  color: #666;
  font-weight: normal;
}

.ticket th b {
  font-size: 14px;
}

.ticket .actions, .ticket .total {
  width: 25%;
}

.ticket .total, .ticket .subtotal {
  text-align: right;
}

.ticket .subtotal {
  background-color: #F3F0EB;
}

.ticket_row {
  border-bottom: 1px solid #ddd;
}

/* Styles for filter tables */

.filter {
  table-collapse: separate;
  border-collapse: separate;
  border-spacing: 15px;
  width: 100%;
  background-color: #F3F0EB;
}

.filter td {
  width: 200px;
  height: 80px;
  vertical-align: top;
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.filter td p {
  font-size: 14px;
  padding-bottom: 20px;
}

.filter td .button {
  width: 80%;
}

/* Styles for filtered ticket tables */

.filtered_tickets {
  width: 100%;
}

.filtered_tickets th, .filtered_tickets td {
  padding: 5px;
}

.filtered_tickets th {
  background-color: #F3F0EB;
}

/* Styles for comment tables */

.comment th {
  padding: 5px 10px; 
}

.comment td {
  padding: 10px;
}

.comment th {
  background-color: #F3F0EB;
  color: #666;
  font-weight: normal; 
}

/* Styles for add-ticket form */

.add_ticket {
  /* background-color: #fff4c0; */
  background-color: #F3F0EB;
  margin: 10px 0px;
}

.add_ticket th, .add_ticket td {
  padding: 5px;
}
