<ul>
  <li><%= link_to_unless(controller.controller_name == 'dashboard', 'Dashboard', dashboard_path) { '<div class="active">Dashboard</div>'.html_safe } %></li>
  
  <li><%= link_to_unless(controller.controller_name == 'tasks', 'Tasks', tasks_path) { '<div class="active">Tasks</div>'.html_safe } %></li>
  
  <li><%= link_to_unless(controller.controller_name == 'tickets', 'Tickets', tickets_path) { '<div class="active">Tickets</div>'.html_safe } %></li>
</ul>
